* {
	color: #000;
}
body {
  color: #222222;
  margin:0;
}
/* everything seems to shift slightly more to the left */
a {
	color:#222222;
	text-decoration: none;
}
/* noticed no change */
a:hover {
	color: #222222;
	text-decoration: underline;
}
/* still no change noticed */
ul.nav{
	float:right;
	margin-right: 25px;
}
/* everything shifted to very top left, links are not clickable and have reverted back to basic black */
ul.nav li{
	list-style: none;
	display: inline-block;
	text-align: right;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px;
}
/*  links that were previously in vertical formatting in the top right corner now in evenly spaced horizontal list*/
}
div.fa {
	font-size: 20px;
	vertical-align: top;
	opacity: 0.7;
	cursor: default;
}
div.fa:hover {
	opacity: 1.0;
}
span.share {
	background-color: #f2f2f2;
	padding:7px 15px;
	cursor: default;
	position: relative;
  top: -3px;
}
/* more spacing occurs in vertical list in top right corner */
span.share:hover {
	background-color: #e1e1e1;
}
img.profile_img {
	border-radius: 25px;
	height: 32px;
  width: 32px;
  position: relative;
  top: 9px;
}
/* Chris's image changed in size */
div.searchBox {
	position: absolute;
	margin-top:75px;
	width:100%;
}
/* search box and google image moved down and on top of list of links */
div.searchBox img {
	padding:142px 0 24px 0;
	display: block;
	margin:0 auto;
}
/* google image moved to center of page, search bar moved off of list of links but still to left of page */
div.searchBox input {
	width: 600px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  border-radius: 5px;
  display: block;
}
/* search bar moved to center underneath google image. Buttons still toggled to left of screen */
div.searchBox input:focus {
	border-color: #f5f5f5;
}
/* didn't notice a change here, should there have been? */
div.buttons  {
	text-align: center;
	padding-left: 0;
}
/* "Google search" and "i'm feeling lucky" buttons  */
div.buttons button{
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  line-height: 27px;
  margin: 17px 6px;
  padding: 0 12px;
  display: inline-block;
  cursor: pointer;
}
/* "google search" and "im feeling lucky" spaced below search bar, font size changes */
div.buttons button:hover{
	background-color:#f8f8f8;
	border: 1px solid #c6c6c6;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  color:#333333;
}
div.bottom {
	bottom: 0 !important;
	position: absolute;
	width:100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
/* links moved from top left to bottom left of screen, grey box moved as well */
div.bottom ul.left,
div.bottom ul.right {
	margin: 0;
}
div.bottom ul.left {
	float:left;
	padding-left:20px;
}
/* list at bottom left broken into two columns and three rows  */
div.bottom ul.right {
	float:right;
	padding-right:10px;
}
/* list at bottom left broken into two sections, three rows on bottom left and three rows on bottom right */
div.bottom ul.left li,
div.bottom ul.right li{
	list-style: none;
	display: inline;
	line-height: 40px;
}
/* links at bottom right and left have bullets removed */
div.bottom ul.right li a:first-child {
	padding-right:8px;
}
/* links at bottom right spaced out */
div.bottom ul.left li:nth-child(2),
div.bottom ul.left li:nth-child(3) {
	margin-left:7px;
}
/* links at bottom left spaced out */
div.bottom ul.left li a,
div.bottom ul.right li a {
	color: #666666;
  margin: 2px 10px 0;
  letter-spacing: 0.1px;
  font-size: 14px;
}
/* font size, color and spacing changed */
